.navbar {
  padding: 1rem 0;
  background-color: var(--white-color);
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.nav-link {
  color: var(--dark-color);
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.nav-link:hover, .nav-link.active {
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.dropdown-menu {
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.dropdown-item {
  font-weight: 600;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  background-color: var(--light-gray-color);
  color: var(--accent-color);
}

.partner-btn {
  color: var(--dark-color) !important;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  background: none;
  border: none;
}

.partner-btn:hover {
  color: var(--accent-color) !important;
  border-bottom: 2px solid var(--accent-color);
  background: none;
  transform: none;
  box-shadow: none;
}


